@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
	<script src="~/Scripts/sticky.min.js"></script>
	<script src="~/Scripts/validator.min.js"></script>
	<script src="~/Scripts/jquery.tablesorter.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Geschenken";

    WebSecurity.RequireAuthenticatedUser();

    var geschenk = "";
    var prijs = "";
    var prioriteit = "";
    var koper = "";
    var status = "";
    var id = "";

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
            id = Request.QueryString["ID"];
            var db = Database.Open("StarterSite");
            var dbCommand = "SELECT * FROM Geschenken WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, id);

            if(row != null) {
                geschenk = row.Geschenk;
                prijs = row.Prijs;
                prioriteit = row.Prioriteit;
                koper = row.Koper;
                status = row.Status;
            }
            else{
                Validation.AddFormError("No present was selected.");
            }
        }
        else{
            Validation.AddFormError("No present was selected.");
        }
    }

    if(IsPost){
        geschenk = Request.Form["geschenk"];
        prijs = Request.Form["prijs"];
        prioriteit = Request.Form["prioriteit"];
        koper = Request.Form["koper"];
        status = Request.Form["status"];
        id = Request.Form["id"];

        if(Validation.IsValid()){
            var db = Database.Open("StarterSite");
            var updateCommand = "UPDATE Geschenken SET geschenk=@0, prijs=@1, prioriteit=@2, koper=@3, status=@4 WHERE Id=@5";
            db.Execute(updateCommand, geschenk, prijs, prioriteit, koper, status, id);
            Response.Redirect("~/Default");
        }
    }
}
<section id="table" class="section">
	<div class="container">
		<div class="row z-depth-1 hoverable">
			<div class="intro col s12 m12">
                <form method="post">
                    <div class="input-field margin col s12">
						<input id="geschenk" name="geschenk" type="text" value="@geschenk">
						<label for="geschenk">Geschenk</label>
					</div>
                    <div class="input-field margin col s12">
						<input id="prijs" name="prijs" type="text" value="@prijs">
						<label for="prijs">prijs</label>
					</div>
                    <div class="input-field margin col s12">
						<input id="prioriteit" name="prioriteit" type="text" value="@prioriteit">
						<label for="prioriteit">prioriteit</label>
					</div>
                    <div class="input-field margin col s12">
						<input id="koper" name="koper" type="text" value="@koper">
						<label for="koper">koper</label>
					</div>
                    <div class="input-field margin col s12">
						<input id="status" name="status" type="text" value="@status">
						<label for="status">Status(1=gekocht | 0=niet gekocht)</label>
					</div>

                    <input type="hidden" name="id" value="@id" />

                    <div class="input-field margin col s12">
						<button type="submit" class="btn waves-effect waves-light right" name="buttonSubmit">Submit Changes</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</section>