@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    WebSecurity.RequireAuthenticatedUser();
    var photoId = UrlData[0].AsInt();
    Layout = "~/_SiteLayout.cshtml";

    var db = Database.Open("StudentenLijst");

    var photo = db.QuerySingle("SELECT * FROM Photos WHERE Id = @0", photoId);
    if (photo == null) 
    {
        Response.SetStatus(HttpStatusCode.NotFound);
        return;        
    }

    WebSecurity.RequireUser(photo.UserId);

    Page.Title = "Edit Photo - " + photo.FileTitle;

    Validation.RequireField("fileTitle", "Naam is verplicht");
    Validation.RequireField("description", "Omschrijving is verplicht");

    if (IsPost && Validation.IsValid()) 
    {
        var fileTitle = Request["FileTitle"];
        var description = Request["Description"];
        
        db.Execute("UPDATE Photos SET FileTitle = @0, Description= @1 WHERE Id = @2", fileTitle, description, photoId);
        Response.Redirect(Href("View", photo.Id));
    }
}

<section id="table" class="section">
	<div class="container">
		<div class="row">
            <div class="meer-header col s4 left">
                <div class="col s12 m12 blue darken-2 table-header">
                    <span class="white-text table-header-text left">Foto</span>
                </div>
                <div class="card-panel">
					<div class="meer-header-action row">
						<a href="~/Photo/View/@photoId"><i class="small material-icons left modal-action tooltipped" data-position="top" data-tooltip="Terug">backspace</i></a>
						<a href="~/Photo/Remove/@photoId"><i class="small material-icons right tooltipped" data-position="top" data-tooltip="Verwijderen">delete</i></a>
					</div>
					<div class="row center margin">
                        <img class="responsive-img materialboxed" data-caption="@photo.FileTitle" alt="@Html.AttributeEncode(photo.FileTitle)" src="@Href("~/Photo/Thumbnail", photo.Id, new { size="large" })" />
						<h5 class="center">@photo.FileTitle</h5>
                        <a class="download" href="~/Photo/Full/@photoId" title="Download: @(photo.FileTitle + photo.FileExtension)">Download full photo!</a> (@(photo.FileSize / 1024) KB)
					</div>
                    <div class="row margin">
                        <p class="left-information left-align col s6">@photoId</p>
						<p class="right-information right-align col s6">Foto ID</p>
                    </div>
                </div>
            </div>
            <div class="meer-pers-info col s8 right">
                <div class="col s12 m12 blue darken-2 table-header">
                    <span class="white-text table-header-text left">Foto informatie</span>
                </div>
                <form method="post" enctype="multipart/form-data">
				    <div class="card-panel">
				        <div class="row input-field">
                            <div class="col s6">
                                <input id="fileTitle" name="fileTitle" title="Photo name" type="text" placeholder="Photo Name" value="@photo.FileTitle" @Validation.For("fileTitle")/>
                                <label for="fileTitle">@photo.FileTitle</label>
                                @Html.ValidationMessage("FileTitle")
                            </div>
                            <p class="right-align col s6">Bestand Naam</p>
                        </div>
                        <div class="row input-field">
                            <div class="col s6">
                                <input id="description" name="description" title="Photo description" type="text" placeholder="Photo description" value="@photo.Description" @Validation.For("description")/>
                                <label for="description">@photo.Description</label>
                                @Html.ValidationMessage("Description")
                            </div>
                            <p class="right-align col s6">Beschrijving</p>
                        </div>
				    </div>
                    <button class="btn waves-effect waves-light right" type="submit" name="buttonSubmit">Bevestigen</button>
                </form>
			</div>
        </div>
    </div>
</section>