<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<meta name="description" content="Beheer de studenten van NHL hogeschool">
		<meta name="keywords" content="NHL, nhl hoogeschool, studentenlijst, groep 12">
		<meta name="author" content="Mikhail Lashkov, Ilja Jellema, Stijn van der Meulen, Richard Bakker, Alejandro Atacho, Sammie Degerlien, Groep 12">

        <title>@Page.Title - Studentenlijst</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="~/Content/style.css">
    </head>
    <body>
        <header id="header-top">
			<div id="header-bottom" class="z-depth-1">
				<div class="container">
					<div class="row col s12 m12">
						<div class="col m5 header-top">
							<a href="~/Default"><span class="header-top-logo">Studentenlijst</span></a>
						</div>
						<div class="col m7 header-top-user">
							<div class="hoi">
								<div class="chip">
									@WebSecurity.CurrentUserName
								</div>
								<div class="chip">
									@if(User.IsInRole("admin")){
                                       <a href="~/User/UserMore/2"> ADMIN</a> 
                                    }
                                    else{
                                        <a>USER</a>
                                    }
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
        @RenderSection("featured", required: false)
        @RenderBody()
        <!-- plus button en de bovenliggende -->
        <div class="fixed-action-btn">
            @if(User.IsInRole("admin")){
                <a class="btn-floating btn-large red modal-trigger" href="#modal-add">
		            <i class="right material-icons activator">add</i>
	            </a>
	            <ul>
                    
                    <li>
                        <a class="btn-floating red" href="~/Default" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                            <i class="large material-icons tooltipped" data-position="left" data-tooltip="Studenten">supervisor_account</i>
                        </a>
				    </li>
                    <li>
                        <a class="btn-floating cyan darken-1" href="~/Photo/Afbeelingen" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                            <i class="large material-icons tooltipped" data-position="left" data-tooltip="Foto's">camera</i>
                        </a>
				    </li>
				    <li>
                        <a class="btn-floating yellow darken-1" href="~/Admin" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                            <i class="large material-icons tooltipped" data-position="left" data-tooltip="Admin">settings</i>
                        </a>
				    </li>
                    <li>
                       <a class="btn-floating purple modal-trigger" href="#modal-addd" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                            <i class="large material-icons tooltipped" data-position="left" data-tooltip="Informatie">info_outline</i>
                        </a>
				    </li>
		            <li>
                        <form id="logoutForm" action="~/Account/Logout" method="post">
                            @AntiForgery.GetHtml()
                            <a class="btn-floating blue" href="javascript:document.getElementById('logoutForm').submit()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                                <i class="large material-icons tooltipped" data-position="left" data-tooltip="Log uit">exit_to_app</i>
                            </a>
                        </form>
		            </li>
	            </ul>
            }
            else{
                <a class="btn-floating btn-large red modal-trigger" href="#modal-add">
		            <i class="right material-icons activator">add</i>
	            </a>
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <ul>
                        
                        <li>
                            <a class="btn-floating red" href="~/Default" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                                <i class="large material-icons tooltipped" data-position="left" data-tooltip="Studenten">supervisor_account</i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating cyan darken-1" href="~/Photo/Afbeelingen" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                                <i class="large material-icons tooltipped" data-position="left" data-tooltip="Foto's">camera</i>
                            </a>
				        </li>
                        <li>
                       <a class="btn-floating purple modal-trigger" href="#modal-addd" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                            <i class="large material-icons tooltipped" data-position="left" data-tooltip="Informatie">info_outline</i>
                        </a>
				    </li>
                        <li>
                            <a class="btn-floating blue" href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="large material-icons tooltipped" data-position="left" data-tooltip="Uitloggen">exit_to_app</i>
                            </a>
                        </li>
                    </ul>
                </form>
            }
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>