@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Studenten";

    WebSecurity.RequireAuthenticatedUser();

    var db = Database.Open("StudentenLijst") ;
    var selectCommand = "SELECT * FROM Student";
    var searchTerm = "";

    // Personelijke gegevens
    var Naam = "";
    var Voorvoegsel = "";
    var Roepnaam = "";
    var Geslacht = "";
    var Geboortedatum = "";
    var Adres = "";
    var Land = "";
    var Telefoon = "";
    var Mobiel = "";
    var Email = "";
    var Emailinstelling = "";
    // Studie gegevens
    var Opleiding = "";
    var Fase = "";
    var Groep = "";
    var Mentor = "";
    var StudentNummer = "";
    var Vooropleiding = "";
    var Etiketnaam = "";
    var Etiketregel1 = "";
    var Etiketregel2 = "";
    var Herinschrijving = "";
    var DatumVan = "";
    var DatumTot = "";
    var AankomstBijIsatcode = "";
    var Aanmeldingdatum = "";
    var Datumdefinitief = "";

    // Search input
    if(!Request.QueryString["search"].IsEmpty() ) {
        selectCommand = "SELECT * FROM Student WHERE Voorvoegsel LIKE @0 OR Roepnaam LIKE @0 OR Geslacht LIKE @0 OR Geboortedatum LIKE @0 OR Adres LIKE @0 OR Land LIKE @0 OR Telefoon LIKE @0 OR Mobiel LIKE @0 OR Email LIKE @0 OR Emailinstelling LIKE @0 OR Opleiding LIKE @0 OR Fase LIKE @0 OR Groep LIKE @0 OR Mentor LIKE @0 OR StudentNummer LIKE @0 OR Vooropleiding LIKE @0 OR Etiketnaam LIKE @0 OR Etiketregel1 LIKE @0 OR Etiketregel2 LIKE @0 OR Herinschrijving LIKE @0 OR DatumVan LIKE @0 OR DatumTot LIKE @0 OR AankomstBijIsatcode LIKE @0 OR Aanmeldingdatum LIKE @0 OR Datumdefinitief LIKE @0";
        searchTerm = "%" + Request.QueryString["search"] + "%";
    }

    // Add Geschenk in modal
    if(IsPost){
        if(Validation.IsValid()){
            // Personelijke gegevens
            Naam = Request.Form["Naam"];
            Voorvoegsel = Request.Form["Voorvoegsel"];
            Roepnaam = Request.Form["Roepnaam"];
            Geslacht = Request.Form["Geslacht"];
            Geboortedatum = Request.Form["Geboortedatum"];
            Adres = Request.Form["Adres"];
            Land = Request.Form["Land"];
            Telefoon = Request.Form["Telefoon"];
            Mobiel = Request.Form["Mobiel"];
            Email = Request.Form["Email"];
            Emailinstelling = Request.Form["Emailinstelling"];
            // Studie gegevens
            Opleiding = Request.Form["Opleiding"];
            Fase = Request.Form["Fase"];
            Groep = Request.Form["Groep"];
            Mentor = Request.Form["Mentor"];
            StudentNummer = Request.Form["StudentNummer"];
            Vooropleiding = Request.Form["Vooropleiding"];
            Etiketnaam = Request.Form["Etiketnaam"];
            Etiketregel1 = Request.Form["Etiketregel1"];
            Etiketregel2 = Request.Form["Etiketregel2"];
            Herinschrijving = Request.Form["Herinschrijving"];
            DatumVan = Request.Form["DatumVan"];
            DatumTot = Request.Form["DatumTot"];
            AankomstBijIsatcode = Request.Form["AankomstBijIsatcode"];
            Aanmeldingdatum = Request.Form["Aanmeldingdatum"];
            Datumdefinitief = Request.Form["Datumdefinitief"];

            var insertCommand = "INSERT INTO Student (Naam, Voorvoegsel, Roepnaam, Geslacht, Geboortedatum, Adres, Land, Telefoon, Mobiel, Email, Emailinstelling, Opleiding, Fase, Groep, Mentor, StudentNummer, Vooropleiding, Etiketnaam, Etiketregel1, Etiketregel2, Herinschrijving, DatumVan, DatumTot, AankomstBijIsatcode, Aanmeldingdatum, Datumdefinitief) VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10, @11, @12, @13, @14, @15, @16, @17, @18, @19, @20, @21, @22, @23, @24, @25)";
            db.Execute(insertCommand, Naam, Voorvoegsel, Roepnaam, Geslacht, Geboortedatum, Adres, Land, Telefoon, Mobiel, Email, Emailinstelling, Opleiding, Fase, Groep, Mentor, StudentNummer, Vooropleiding, Etiketnaam, Etiketregel1, Etiketregel2, Herinschrijving, DatumVan, DatumTot, AankomstBijIsatcode, Aanmeldingdatum, Datumdefinitief);

            Response.Redirect("~/Default");
        }
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Naam", rowsPerPage:9);
}
<section id="table" class="section">
	<div class="container">
		<div class="row z-depth-1 hoverable">
            <div class="col s12 m12 blue darken-2 table-header">
                <span class="white-text table-header-text left">Studenten</span>
            </div>
			<div class="intro col s12 m12">
                <form method="get">
                    <div class="search input-field margin col m6">
					    <input id="search" name="search" type="text" value="@Request.QueryString["search"]">
					    <label for="search">Zoeken</label>
                    </div>
                </form>
				<div class="col m12 s12">
                    @grid.GetHtml(
                    tableStyle: "bordered striped responsive-table",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns(
                        grid.Column(format: @<figure class="card-profile-image"><img src="https://placehold.it/350x350" alt="profile image" class="responsive-img materialboxed" data-caption="Naam1"></figure>),
                        grid.Column("Naam"),
                        grid.Column("Mobiel"),
                        grid.Column("Email"),
                        grid.Column("Opleiding"),
                        grid.Column("Groep"),
                        grid.Column("StudentNummer"),
                        grid.Column(format: @<a href="~/Student/StudentMore?studentnummer=@item.StudentNummer"><i class="small material-icons tooltipped" data-position="top" data-tooltip="Meer">search</i></a>),
                        grid.Column(format: @<a href="~/Student/StudentEdit?studentnummer=@item.StudentNummer"><i class="small material-icons tooltipped" data-position="top" data-tooltip="Aanpassen">edit</i></a>),
                        grid.Column(format: @<a href="~/Student/StudentDelete?studentnummer=@item.StudentNummer"><i class="small material-icons tooltipped" data-position="top" data-tooltip="Verwijderen">delete</i></a>)
                                
                        )
                    )
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Toevoegen van een leerling Dialog -->
<div id="modal-add" class="modal modal-fixed-footer">
    <form method="post" class="col s12" enctype="multipart/form-data">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#personelijkeInfo">Personelijke informatie</a></li>
                <li class="tab col s6"><a href="#studieInfo">Studie informatie</a></li>
            </ul>
        </div>
	    <div class="modal-content">
            <div class="row">
                <!-- Personelijke informatie -->
                <div id="personelijkeInfo" class="col s12">
			        <div class="row margin">
				        <div class="input-field margin col s6">
					        <input id="naam" name="Naam" type="text" value="@Request.Form["Naam"]">
					        <label for="naam">Naam</label>
				        </div>
				        <div class="input-field margin col s6">
					        <input id="voorvoegsel" name="Voorvoegsel" type="text" value="@Request.Form["Voorvoegsel"]">
					        <label for="voorvoegsel">Voorvoegsel</label>
				        </div>
			        </div>
			        <div class="row margin">
				        <div class="input-field margin col s4">
					        <input id="roepnaam" name="Roepnaam" type="text" value="@Request.Form["Roepnaam"]">
					        <label for="roepnaam">Roepnaam</label>
				        </div>
                        <div class="input-field margin col s4">
					        <select name="Geslacht">
						        <option value="@Request.Form["Geslacht"]" disabled>Kies een geslacht</option>
						        <option value="1">Man</option>
						        <option value="2">Vrouw</option>
					        </select>
					        <label>Geslacht</label>
				        </div>
				        <div class="input-field margin col s4">
					        <input id="date" name="Geboortedatum" class="datepicker" type="text" value="@Request.Form["Geboortedatum"]">
					        <label for="date">Geboortedatum</label>
				        </div>
			        </div>
			        <div class="row margin">
				        <div class="input-field margin col s6">
					        <input id="adres" name="Adres" type="text" value="@Request.Form["Adres"]">
					        <label for="adres">Adres</label>
				        </div>
                        <div class="input-field margin col s6">
					        <input id="land" name="Land" type="text" value="@Request.Form["Land"]">
					        <label for="land">Land</label>
				        </div>
			        </div>
			        <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="telefoon" name="Telefoon" type="tel" value="@Request.Form["Telefoon"]">
					        <label for="telefoon">Telefoon</label>
				        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field margin col s12">
					        <input id="mobiel" name="mobiel" type="tel" value="@Request.Form["Mobiel"]">
					        <label for="mobiel">Mobiel</label>
				        </div>
			        </div>
			        <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="email" name="email" type="email" value="@Request.Form["Email"]">
					        <label for="email">E-mail</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="emailinstelling" name="Emailinstelling" type="text" value="@Request.Form["Emailinstelling"]">
					        <label for="emailinstelling">Emailinstelling</label>
				        </div>
                    </div>
                </div>
                <!-- Studie informatie -->
                <div id="studieInfo" class="col s12">
                    <div class="row margin">
                        <div class="input-field margin col s12">
					        <input id="opleiding" name="Opleiding" type="tel" value="@Request.Form["Opleiding"]">
					        <label for="opleiding">Opleiding</label>
				        </div>
			        </div>
                    <div class="row margin">
                        <div class="input-field margin col s12">
					        <input id="groep" name="Groep" type="tel" value="@Request.Form["Groep"]">
					        <label for="groep">Groep</label>
				        </div>
			        </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="fase" name="Fase" type="text" value="@Request.Form["Fase"]">
					        <label for="fase">Fase</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="mentor" name="Mentor" type="text" value="@Request.Form["Mentor"]">
					        <label for="mentor">Mentor</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="studentNummer" name="StudentNummer" type="text" value="@Request.Form["Studentnummer"]" required>
					        <label for="studentNummer">Studentnummer</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="vooropleiding" name="Vooropleiding" type="text" value="@Request.Form["Vooropleiding"]">
					        <label for="vooropleiding">Vooropleiding</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="etiketnaam" name="Etiketnaam" type="text" value="@Request.Form["Etiketnaam"]">
					        <label for="etiketnaam">Etiketnaam</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="etiketregel1" name="Etiketregel1" type="text" value="@Request.Form["Etiketregel1"]">
					        <label for="etiketregel1">Etiketregel1</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="etiketregel2" name="Etiketregel2" type="text" value="@Request.Form["Etiketregel2"]">
					        <label for="etiketregel2">Etiketregel2</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="herinschrijving" name="Herinschrijving" type="text" value="@Request.Form["Herinschrijving"]">
					        <label for="herinschrijving">Herinschrijving</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="datumvan" name="DatumVan" class="datepicker" type="text" value="@Request.Form["DatumVan"]">
					        <label for="datumvan">Datum Van</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="datumtot" name="DatumTot" class="datepicker" type="text" value="@Request.Form["DatumTot"]">
					        <label for="datumtot">Datum Tot</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="aankomstbijisatcode" name="AankomstBijIsatcode" type="text" value="@Request.Form["AankomstBijIsatcode"]">
					        <label for="aankomstbijisatcode">Aankomst bij isatcode</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="aanmeldingdatum" name="Aanmeldingdatum" class="datepicker" type="text" value="@Request.Form["Aanmeldingdatum"]">
					        <label for="aanmeldingdatum">Aanmeldingdatum</label>
				        </div>
                    </div>
                    <div class="row margin">
				        <div class="input-field margin col s12">
					        <input id="datumdefinitief" name="Datumdefinitief" class="datepicker" type="text" value="@Request.Form["Datumdefinitief"]">
					        <label for="datumdefinitief">Datumdefinitief</label>
				        </div>
                    </div>
                </div>
            </div>
	    </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
            <button type="submit" name="buttonSubmit" class="waves-effect waves-green btn-flat modal-action modal-close">Voeg toe</button>
        </div>
	</form>
</div>
<form method="post">
    <!-- Alert als je het geselecteerde tabel echt wilt verwijderen dialog -->
    <div id="modal-delete" class="modal center">
	    <div class="modal-content">
		    <h4>Verwijderen</h4>
		    <p>Weet je zeker dat je deze leerling wilt Verwijderenen?</p>
	    </div>
	    <div class="modal-footer">
		    <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Nee</a>
		    <button type="submit" name="buttonDelete" class="waves-effect waves-green btn-flat modal-action modal-close">Ja</button>
	    </div>
    </div>
</form>