@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Geschenken";

    WebSecurity.RequireAuthenticatedUser();

    var geschenk = "";
    var prijs = "";
    var prioriteit = "";
    var koper = "";
    var status = "";
    var id = "";

    var db = Database.Open("StarterSite") ;
    var dbCommand = "SELECT * FROM Geschenken";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>
    <div>
        @if(User.IsInRole("admin")){
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Geschenk</th>
                        <th>Prijs</th>
                        <th>Prioriteit</th>
                        <th>Koper</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in db.Query(dbCommand)){
                        <tr>
                            <td><a href="~/Account/EditGeschenk?id=@row.ID">Edit</a></td>
                            <td>@row.Geschenk</td>
                            <td>@row.Prijs</td>
                            <td>@row.Prioriteit</td>
                            <td>@row.Koper</td>
                            <td>@row.Status</td>
                            <td><a href="~/Account/DeleteGeschenk?id=@row.ID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else{
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Geschenk</th>
                        <th>Prijs</th>
                        <th>Prioriteit</th>
                        <th>Koper</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in db.Query(dbCommand)){
                        <tr>
                            <td><a href="~/Account/EditGeschenk?id=@row.ID">Edit</a></td>
                            <td>@row.Geschenk</td>
                            <td>@row.Prijs</td>
                            <td>@row.Prioriteit</td>
                            <td>@row.Koper</td>
                            <td>@row.Status</td>
                            <td>
                                @if(row.Status == "0") {
                                    <a style="color:red" href="#">Gekocht!</a>
                                }
                                else{
                                    <a href="~/Account/KoopGeschenk?id=@row.ID">Kopen!</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>