@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    WebSecurity.RequireAuthenticatedUser();
    Layout = "~/_SiteLayout.cshtml";

    var db = Database.Open("StudentenLijst");

    var user = db.QuerySingle("SELECT UserId, Naam, Bio FROM UserProfile WHERE UserId = @0", WebSecurity.CurrentUserId);

    Page.Title = "Edit Profile - " + user.Naam;

    Validation.RequireField("Naam", "Please enter a display name");

    string Naam = null;
    if (IsPost && Validation.IsValid())
    {
        Naam = Request["Naam"].Trim();
        if (Naam.IsEmpty())
        {
            Naam = User.Identity.Name;
        }
        var bio = Request["bio"].Trim();

        db.Execute("UPDATE UserProfile SET Naam = @0, Bio = @1 WHERE UserId = @2", Naam, bio, WebSecurity.CurrentUserId);

        Response.Redirect(Href("~/User/View",user.UserId));
    }
}
<h1>Edit Profile</h1>

<section id="profileForm">
    <header>
        <p>
            Welcome back, @user.Naam.  You may use the below form to change your display name (shown in comments)
            and biography (shown on your <a href="~/User/View/@WebSecurity.CurrentUserId" title="View your public profile">public profile</a>).
        </p>
    </header>

    <form method="post">
        <fieldset class="no-legend" action="">
            <legend>Edit Profile</legend>
            <ol>
                <li>
                    <label for="Naam">Display name:</label>
                    <input type="text" id="Naam" name="Naam" title="Change display name" placeholder="Display name" value="@(Naam ?? user.Naam)" @Validation.For("Naam") />
                    @Html.ValidationMessage("Naam")
                </li>
                <li>
                    <label for="bio">Bio:</label>
                    <textarea id="bio" name="bio" title="Change bio" rows="4" cols="50" placeholder="Biography">@user.Bio</textarea>
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="Save" title="Save Changes" />
            </p>
        </fieldset>
    </form>
</section>