@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Student verwijderen";

    WebSecurity.RequireAuthenticatedUser();

    var db = Database.Open("StudentenLijst") ;
    var selectCommand = "SELECT * FROM Student WHERE StudentNummer = @0";

    var Naam = "";
    var Roepnaam = "";
    var Klas = "";
    var Leerjaar = "";
    var Telefoon = "";
    var StudentNummer = "";

    if(!IsPost){
        if(!Request.QueryString["StudentNummer"].IsEmpty() && Request.QueryString["StudentNummer"].IsInt()){
            StudentNummer = Request.QueryString["StudentNummer"];
            var dbCommand = "SELECT * FROM Student WHERE StudentNummer = @0";
            var row = db.QuerySingle(dbCommand, StudentNummer);
            if(row != null) {
                Naam = row.Naam;
                Roepnaam = row.Roepnaam;
                Klas = row.Groep;
                Leerjaar = row.Fase;
                Telefoon = row.Telefoon;
                StudentNummer = row.StudentNummer.ToString();
            }
            else{
                Validation.AddFormError("Geen student gevonden");
            }
        }
        else{
            Validation.AddFormError("Geen student gevonden");
        }
    }

    if(IsPost && !Request["buttonDelete"].IsEmpty()){
        StudentNummer = Request.Form["StudentNummer"];
        var deleteCommand = "DELETE FROM Student WHERE StudentNummer = @0";
        db.Execute(deleteCommand, StudentNummer);
        Response.Redirect("~/Default");
    }

}
<section id="table" class="section">
	<div class="container">
		<div class="row z-depth-1 hoverable">
			<div class="intro col s12 m12">
                @Html.ValidationSummary()
                <form method="post">
                    <a href="~/Default"><i class="small material-icons left">backspace</i></a>
                    <table id="studentsTable" class="bordered striped centered responsive-table">
                        <thead style="color: #2c9ed9">
                            <tr>
                                <th>Naam</th>
                                <th>Roepnaam</th>
                                <th>Studentnummer</th>
                                <th>Klas</th>
                                <th>Telefoon</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var row in db.Query(selectCommand, StudentNummer)){
                                <tr>
                                    <td>@row.Naam</td>
                                    <td>@row.Roepnaam</td>
                                    <td>@row.Studentnummer.ToString()</td>
                                    <td>@row.Fase@row.Groep</td>
                                    <td>@row.Mobiel</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <input type="hidden" name="StudentNummer" value="@StudentNummer"/>
                    <input class="btn waves-effect waves-light verwijderbutton" type="submit" value ="Verwijderen" name="buttonDelete" >
                </form>
            </div>
        </div>
    </div>
</section>