@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
	<script src="~/Scripts/sticky.min.js"></script>
	<script src="~/Scripts/validator.min.js"></script>
	<script src="~/Scripts/jquery.tablesorter.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Admin";

    WebSecurity.RequireAuthenticatedUser();

    var db = Database.Open("StarterSite") ;
    var selectCommand = "SELECT * FROM UserProfile";
    //var searchTerm = "";

    var Naam = "";
    var Email = "";
    var Status = "";

    // Search input
    //if(!Request.QueryString["search"].IsEmpty() ) {
    //    selectCommand = "SELECT * FROM Geschenken WHERE Geschenk OR Prijs OR Prioriteit OR Koper OR Status LIKE @0";
    //    searchTerm = "%" + Request.QueryString["search"] + "%";
    //}

    // Add Geschenk in modal
    if(IsPost){
        if(Validation.IsValid()){
            Naam = Request.Form["Naam"];
            Email = Request.Form["Email"];
            Status = Request.Form["Status"];

            var insertCommand = "INSERT INTO UserProfile (Naam, Email, Status) VALUES(@0, @1, @2)";
            db.Execute(insertCommand, Naam, Email, Status);

            Response.Redirect("~/Account/Admin");
        }
    }

    var selectedData = db.Query(selectCommand);
    //var selectedData = db.Query(selectCommand, searchTerm);
    // var grid = new WebGrid(source: selectedData, defaultSort: "Genre", rowsPerPage:3);
}
<section id="table" class="section">
	<div class="container">
		<div class="row z-depth-1 hoverable">
			<div class="intro col s12 m12">
                <!--
                <form method="get">
                    <div class="search input-field margin col m6">
					    <input id="search" name="search" type="text" value="@Request.QueryString["search"]">
					    <label for="search">Zoeken</label>
                    </div>
                    <div class="search input-field margin col m6">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">Search</button>
                    </div>
                </form>
                -->
				<div class="col m12 s12">
                    <table id="studentsTable" class="tablesorter bordered striped centered responsive-table">
                        <thead>
                            <tr>
                                <th data-field="Naam">Naam</th>
                                <th data-field="Email">Email</th>
                                <th data-field="Status">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var row in db.Query(selectCommand)){
                                <tr>
                                    <td>@row.Naam</td>
                                    <td><a href="mailto:@row.Email">@row.Email</a></td>
                                    <td>
                                        <div class="switch">
										    <label>
											    Off
                                                @if(row.Status == "on"){
                                                    <input type="checkbox" checked="checked">
                                                }
											    else{
											        <input type="checkbox">
											    }
											    <span class="lever"></span> On
										    </label>
									    </div>
                                    </td>
                                    <td><div class="more" data-activates="meer-dropdown"></div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Toevoegen van een gebruiker Dialog -->
<div id="modal-add" class="modal modal-fixed-footer">
    <form method="post" class="col s12" enctype="multipart/form-data">
	    <div class="modal-content">
		    <h4 class="center">Gebruiker toevoegen</h4>
            <div class="row margin">
				<div class="input-field margin col s12">
					<input id="naam" name="Naam" type="text" value="@Request.Form["Naam"]" required>
					<label for="naam">Naam</label>
				</div>
            </div>
			<div class="row margin">
				<div class="input-field margin col s6">
					<input id="email" name="Email" type="text" value="@Request.Form["Email"]" required>
					<label for="email">Email</label>
				</div>
			</div>
            <div class="row margin">
				<div class="input-field margin col s12">
					<div class="switch">
						<label>
							<a>Status account: </a> Off
							<input name="Status" value="@Request.Form["Status"]" type="checkbox" checked="checked">
							<span class="lever"></span> On
						</label>
					</div>
				</div>
			</div>
	    </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
            <button type="submit" name="buttonSubmit" class="waves-effect waves-green btn-flat modal-action modal-close">ADD</button>
        </div>
	</form>
</div>