@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="~/Scripts/materialize.min.js"></script>
	<script src="~/Scripts/init.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Admin";

    WebSecurity.RequireAuthenticatedUser();
    // Check if user has the right privileges
    if(!User.IsInRole("admin")){
        Response.Redirect("~/Default");
    }

    var db = Database.Open("StudentenLijst") ;
    var selectCommand = "SELECT * FROM UserProfile";
    var searchTerm = "";

    var Naam = "";
    var RoleId = "";
    var email = "";
    var password = "";
    var confirmPassword = "";

    // Search input
    if(!Request.QueryString["search"].IsEmpty() ) {
        selectCommand = "SELECT * FROM UserProfile WHERE Naam LIKE @0 OR Email LIKE @0";
        searchTerm = "%" + Request.QueryString["search"] + "%";
    }

    // Add User in modal
    if(IsPost){
        AntiForgery.Validate();
        email = Request.Form["email"];
        password = Request.Form["password"];
        Naam = Request.Form["Naam"];
        RoleId = Request.Form["RoleId"];

        // If all information is valid, create a new account
        if (Validation.IsValid()) {
            // Check if user already exists
            var user = db.QuerySingle("SELECT Email FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", email);
            if (user == null) {
                // Insert email into the profile table
                db.Execute("INSERT INTO UserProfile (Email, Naam, RoleId) VALUES (@0, @1, @2)", email, Naam, RoleId);

                // Create and associate a new entry in the membership database.
                // If successful, continue processing the request
                try {
                    var token = WebSecurity.CreateAccount(email, password);
                    Response.Redirect("~/Account/Admin");

                } catch (System.Web.Security.MembershipCreateUserException e) {
                    ModelState.AddFormError(e.Message);
                }
            } else {
                // User already exists
                ModelState.AddFormError("Email address is already in use.");
            }
        }
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Naam", rowsPerPage:9);
}
<section id="table" class="section">
	<div class="container">
		<div class="row z-depth-1 hoverable">
            <div class="col s12 m12 blue darken-2 table-header">
                <span class="white-text table-header-text left">Gebruikers</span>
            </div>
			<div class="intro col s12 m12">
                <form method="get">
                    <div class="search input-field margin col m6">
					    <input id="search" name="search" type="text" value="@Request.QueryString["search"]">
					    <label for="search">Zoeken</label>
                    </div>
                </form>
				<div class="col m12 s12">
                    @grid.GetHtml(
                    tableStyle: "bordered striped responsive-table",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns(
                        grid.Column("UserId"),
                        grid.Column("Naam"),
                        grid.Column("Email"),
                        grid.Column("RoleId"),
                        grid.Column(format: @<a href="~/Account/UserEdit?userid=@item.UserId"><i class="small material-icons tooltipped" data-position="top" data-tooltip="Aanpassen">edit</i></a>),
                        grid.Column(format: @<a href="~/Account/UserDelete?userid=@item.UserId"><i class="small material-icons tooltipped" data-position="top" data-tooltip="Verwijderen">delete</i></a>)
                        )
                    )
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Toevoegen van een user Dialog -->
<div id="modal-add" class="modal modal-fixed-footer">
    <form method="post" class="login-form col s12" enctype="multipart/form-data">
        @AntiForgery.GetHtml()
        @* If at least one validation error exists, notify the user *@
        @Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null)
	    <div class="modal-content">
		    <h4 class="center">Gebruiker toevoegen</h4>
            <div class="row margin">
				<div class="input-field margin col s6">
					<input id="naam" name="Naam" type="text" value="@Request.Form["Naam"]">
					<label for="naam">Naam</label>
				</div>
                <div class="input-field margin col s6">
                    <select name="RoleId">
                        <option value="@Request.Form["RoleId"]" disabled>Kies een Rol</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                    </select>
                    <label>Rechten</label>
                </div>
			</div>
            <div class="row margin">
				<div class="input-field margin col s12">
                    <input type="text" class="validate" id="email" name="email" value="@email" @Validation.For("email")/>
                    <label for="email" class="center-align" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>Email address</label>
                    @Html.ValidationMessage("email")
				</div>
			</div>
            <div class="row margin">
				<div class="input-field margin col s12">
				    <input type="password" class="validate" id="password" name="password" @Validation.For("password")/>
				    <label for="password" @if (!ModelState.IsValidField("password")) {<text>class="error-label"</text>}>Password</label>
                    @Html.ValidationMessage("password")
				</div>
			</div>
	    </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
            <button class="waves-effect waves-green btn-flat" type="submit" name="action">Voeg toe</button>
        </div>
	</form>
</div>