@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/init.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "AanpassenStudent";

    WebSecurity.RequireAuthenticatedUser();

    // Personelijke gegevens
    var Naam = "";
    var Voorvoegsel = "";
    var Roepnaam = "";
    var Geslacht = "";
    var Geboortedatum = "";
    var Adres = "";
    var Land = "";
    var Telefoon = "";
    var Mobiel = "";
    var Email = "";
    var Emailinstelling = "";
    // Studie gegevens
    var Opleiding = "";
    var Fase = "";
    var Groep = "";
    var Mentor = "";
    int StudentNummer = -1;
    var Vooropleiding = "";
    var Etiketnaam = "";
    var Etiketregel1 = "";
    var Etiketregel2 = "";
    var Herinschrijving = "";
    var DatumVan = "";
    var DatumTot = "";
    var AankomstBijIsatcode = "";
    var Aanmeldingdatum = "";
    var Datumdefinitief = "";

    if (!IsPost)
    {
        if (!Request.QueryString["StudentNummer"].IsEmpty() && Request.QueryString["StudentNummer"].IsInt())
        {
            StudentNummer = Convert.ToInt32(Request.QueryString["StudentNummer"]);
            var db = Database.Open("StudentenLijst");
            var dbCommand = "SELECT * FROM Student WHERE StudentNummer = @0";
            var row = db.QuerySingle(dbCommand, StudentNummer);
            if (row != null)
            {
                Naam = row.Naam;
                Voorvoegsel = row.Voorvoegsel;
                Roepnaam = row.Roepnaam;
                Geslacht = row.Geslacht;
                Geboortedatum = row.Geboortedatum;
                Adres = row.Adres;
                Land = row.Land;
                Telefoon = row.Telefoon;
                Mobiel = row.Mobiel;
                Email = row.Email;
                Emailinstelling = row.Emailinstelling;
                // Studie gegevens
                Opleiding = row.Opleiding;
                Fase = row.Fase;
                Groep = row.Groep;
                Mentor = row.Mentor;
                StudentNummer = row.StudentNummer;
                Vooropleiding = row.Vooropleiding;
                Etiketnaam = row.Etiketnaam;
                Etiketregel1 = row.Etiketregel1;
                Etiketregel2 = row.Etiketregel2;
                Herinschrijving = row.Herinschrijving;
                DatumVan = row.DatumVan;
                DatumTot = row.DatumTot;
                AankomstBijIsatcode = row.AankomstBijIsatcode;
                Aanmeldingdatum = row.Aanmeldingdatum;
                Datumdefinitief = row.Datumdefinitief;
            }
            else
            {
                Validation.AddFormError("Leerling bestaat niet!");
            }
        }
        else
        {
            Validation.AddFormError("Leerling bestaat niet!");
        }
    }


    if (IsPost)
    {
        Naam = Request.Form["Naam"];
        Voorvoegsel = Request.Form["Voorvoegsel"];
        Roepnaam = Request.Form["Roepnaam"];
        Geslacht = Request.Form["Geslacht"];
        Geboortedatum = Request.Form["Geboortedatum"];
        Adres = Request.Form["Adres"];
        Land = Request.Form["Land"];
        Telefoon = Request.Form["Telefoon"];
        Mobiel = Request.Form["Mobiel"];
        Email = Request.Form["Email"];
        Emailinstelling = Request.Form["Emailinstelling"];
        Opleiding = Request.Form["Opleiding"];
        Fase = Request.Form["Fase"];
        Groep = Request.Form["Groep"];
        Mentor = Request.Form["Mentor"];
        StudentNummer = Convert.ToInt32(Request.Form["StudentNummer"]);
        Vooropleiding = Request.Form["Vooropleiding"];
        Etiketnaam = Request.Form["Etiketnaam"];
        Etiketregel1 = Request.Form["Etiketregel1"];
        Etiketregel2 = Request.Form["Etiketregel2"];
        Herinschrijving = Request.Form["Herinschrijving"];
        DatumVan = Request.Form["DatumVan"];
        DatumTot = Request.Form["DatumTot"];
        AankomstBijIsatcode = Request.Form["AankomstBijIsatcode"];
        Aanmeldingdatum = Request.Form["Aanmeldingdatum"];
        Datumdefinitief = Request.Form["Datumdefinitief"];

        if (Validation.IsValid())
        {
            var db = Database.Open("StudentenLijst");
            var updateCommand = "UPDATE Student SET Naam = @0, Voorvoegsel = @1, Roepnaam = @2, Geslacht = @3, Geboortedatum = @4, Adres = @5, Land = @6, Telefoon = @7, Mobiel = @8, Email = @9, Emailinstelling = @10, Opleiding = @11, Fase = @12, Groep = @13, Mentor = @14, Vooropleiding = @15, Etiketnaam = @16, Etiketregel1 = @17, Etiketregel2 = @18, Herinschrijving = @19, DatumVan = @20, DatumTot = @21, AankomstBijIsatcode = @22, Aanmeldingdatum = @23, Datumdefinitief = @24 WHERE StudentNummer = @25";
            db.Execute(updateCommand, Naam, Voorvoegsel, Roepnaam, Geslacht, Geboortedatum, Adres, Land, Telefoon, Mobiel, Email, Emailinstelling, Opleiding, Fase, Groep, Mentor, Vooropleiding, Etiketnaam, Etiketregel1, Etiketregel2, Herinschrijving, DatumVan, DatumTot, AankomstBijIsatcode, Aanmeldingdatum, Datumdefinitief, StudentNummer);
            Response.Redirect("~/Default");
        }
    }
    if(Geslacht == "1"){
        Geslacht = "Man";
    }
    else{
        Geslacht = "Vrouw";
    }
}


@Html.ValidationSummary()
<section id="table" class="section">
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="StudentNummer" value="@Request["StudentNummer"]" />
                <div class="meer-header col s4 left">
                    <div class="col s12 m12 blue darken-2 table-header">
                        <span class="white-text table-header-text left">Student Foto</span>
                    </div>
                    <div class="card-panel">
					    <div class="meer-header-action row margin">
						    <a href="~/Default"><i class="small material-icons left tooltipped" data-position="top" data-tooltip="Terug">backspace</i></a>
					        <a href="~/Account/StudentDelete?studentnummer=@StudentNummer"><i class="small material-icons right tooltipped" data-position="top" data-tooltip="Verwijderen">delete</i></a>
                        </div>
					    <div class="row center margin">
						    <img src="~/Images/Studenten/lash1500.jpg" style="width:200px;" alt="profile image" class="responsive-img circle">
						    <h5 class="center">@Naam</h5>
					    </div>
                        <div class="row margin">
                            <p class="left-information col s6">@StudentNummer</p>
							<p class="right-information right-align col s6">Student nummer</p>
                        </div>
                    </div>
                    <div class="col s12">
                        <button class="btn waves-effect waves-light center" type="submit" name="buttonSubmit">Bevestigen</button>
                    </div>
                </div>
                <div class="meer-pers-info col s8 right">
                    <div class="col s12 m12 blue darken-2 table-header">
                        <span class="white-text table-header-text left">Personelijke informatie</span>
                    </div>
                    <div class="card-panel">
                        <div class="row input-field">
                            <div class="col s6">
                                <input id="Naam" name="Naam" type="text" value="@Naam"/>
                                <label for="Naam">@Naam</label>
                            </div>
                            <p class="right-align col s6">Naam</p>
                        </div>
                        <div class="row input-field">
                            <div class="col s6">
                                <input id="Voorvoegsel" name="Voorvoegsel" type="text" value="@Voorvoegsel"/>
                                <label for="Voorvoegsel">@Voorvoegsel</label>
                            </div>
                            <p class="right-align col s6">Voorvoegsel</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Roepnaam" name="Roepnaam" type="text" value="@Roepnaam"/>
                                <label for="Roepnaam">@Roepnaam</label>
                            </div>
                            <p class="right-align col s6">Roepnaam</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <select name="Geslacht">
						            <option value="@Request.Form["Geslacht"]" disabled>Kies een geslacht</option>
						            @{
                                        if(Geslacht == "Vrouw"){
                                            <option value="2">Vrouw</option>
                                            <option value="1">Man</option>
                                        }
                                        if(Geslacht=="Man"){
                                             <option value="1">Man</option>
                                             <option value="2">Vrouw</option>  
                                        }
                                    }

                                   
					            </select>
                            </div>
                            <p class="right-align col s6">Geslacht</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Geboortedatum" name="Geboortedatum" type="text" value="@Geboortedatum"/>
                                <label for="Geboortedatum">@Geboortedatum</label>
                            </div>
                            <p class="right-align col s6">Geboortedatum</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Adres" name="Adres" type="text" value="@Adres"/>
                                <label for="Adres">@Adres</label>
                            </div>
                            <p class="right-align col s6">Adres</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Land" name="Land" type="text" value="@Land"/>
                                <label for="Land">@Land</label>
                            </div>
                            <p class="right-align col s6">Land</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Telefoon" name="Telefoon" type="text" value="@Telefoon"/>
                                <label for="Telefoon">@Telefoon</label>
                            </div>
                            <p class="right-align col s6">Telefoon</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Mobiel" name="Mobiel" type="text" value="@Mobiel"/>
                                <label for="Mobiel">@Mobiel</label>
                            </div>
                            <p class="right-align col s6">Mobiel</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <a href="mailto:@Email">
                                    <input id="Email" name="Email" type="text" value="@Email"/>
                                    <label for="Email">@Email</label>
                                </a>
                            </div>
                            <p class="right-align col s6">E-mail</p>
                        </div>
                        <div class="row input-field">
                            <div class="margin col s6">
                                <input id="Emailinstelling" name="Emailinstelling" type="text" value="@Emailinstelling"/>
                                <label for="Emailinstelling">@Emailinstelling</label>
                            </div>
                            <p class="right-align col s6">E-mailinstelling</p>
                        </div>
                    </div>
                </div>
                <div class="meer-studie-info col s8 right">
                    <div class="col s12 m12 blue darken-2 table-header">
                        <span class="white-text table-header-text left">Studie informatie</span>
                    </div>
                    <div class="card-panel">
                        <div class="information">
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Opleiding" name="Opleiding" type="text" value="@Opleiding"/>
                                    <label for="Opleiding">@Opleiding</label>
                                </div>
                                <p class="right-align col s6">Opleiding</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Fase" name="Fase" type="text" value="@Fase"/>
                                    <label for="Fase">@Fase</label>
                                </div>
                                <p class="right-align col s6">Fase</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Groep" name="Groep" type="text" value="@Groep"/>
                                    <label for="Groep">@Groep</label>
                                </div>
                                <p class="right-align col s6">Groep</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Mentor" name="Mentor" type="text" value="@Mentor"/>
                                    <label for="Mentor">@Mentor</label>
                                </div>
                                <p class="right-align col s6">Mentor</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Vooropleiding" name="Vooropleiding" type="text" value="@Vooropleiding"/>
                                    <label for="Vooropleiding">@Vooropleiding</label>
                                </div>
                                <p class="right-align col s6">Vooropleiding</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Etiketnaam" name="Etiketnaam" type="text" value="@Etiketnaam"/>
                                    <label for="Etiketnaam">@Etiketnaam</label>
                                </div>
                                <p class="right-align col s6">Etiketnaam</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Etiketregel1" name="Etiketregel1" type="text" value="@Etiketregel1"/>
                                    <label for="Etiketregel1">@Etiketregel1</label>
                                </div>
                                <p class="right-align col s6">Etiketregel1</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Etiketregel2" name="Etiketregel2" type="text" value="@Etiketregel2"/>
                                    <label for="Etiketregel2">@Etiketregel2</label>
                                </div>
                                <p class="right-align col s6">Etiketregel2</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Herinschrijving" name="Herinschrijving" type="text" value="@Herinschrijving"/>
                                    <label for="Herinschrijving">@Herinschrijving</label>
                                </div>
                                <p class="right-align col s6">Herinschrijving</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="DatumVan" name="DatumVan" type="text" value="@DatumVan"/>
                                    <label for="DatumVan">@DatumVan</label>
                                </div>
                                <p class="right-align col s6">Datum van</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="DatumTot" name="DatumTot" type="text" value="@DatumTot"/>
                                    <label for="DatumTot">@DatumTot</label>
                                </div>
                                <p class="right-align col s6">Datum tot</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="AankomstBijIsatcode" name="AankomstBijIsatcode" type="text" value="@AankomstBijIsatcode"/>
                                    <label for="AankomstBijIsatcode">@AankomstBijIsatcode</label>
                                </div>
                                <p class="right-align col s6">Aankomst bij isatcode</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Aanmeldingdatum" name="Aanmeldingdatum" type="text" value="@Aanmeldingdatum"/>
                                    <label for="Aanmeldingdatum">@Aanmeldingdatum</label>
                                </div>
                                <p class="right-align col s6">Aanmeldingdatum</p>
                            </div>
                            <div class="row input-field">
                                <div class="margin col s6">
                                    <input id="Datumdefinitief" name="Datumdefinitief" type="text" value="@Datumdefinitief"/>
                                    <label for="Datumdefinitief">@Datumdefinitief</label>
                                </div>
                                <p class="right-align col s6">Datumdefinitief</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>